<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACgifts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ACgifts.Properties.Settings>
            <setting name="MainFormGeo" serializeAs="String">
                <value />
            </setting>
            <setting name="Col0width" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Col1width" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Col2width" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Col3width" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Col4width" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SortOrder" serializeAs="String">
                <value>0</value>
            </setting>
        </ACgifts.Properties.Settings>
    </userSettings>
</configuration>